.dropdown-menu {
  width: var(--pngx-toast-max-width);
}

.dropdown-menu .scroll-list {
  max-height: 500px;
  overflow-y: auto;
}

.dropdown-toggle::after {
  display: none;
}

@media (max-width: 767.98px) {
  #notificationsDropdown {
    min-width: 44px;
    min-height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.dropdown-item {
  white-space: initial;
}

@media screen and (max-width: 400px) {
  :host ::ng-deep .dropdown-menu-end {
    inset-inline-end: -3rem;
  }
}
